.userformcontainer{
    margin: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.cardscontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    width: 100%;
    height: auto;
}

.mincardcontainer{
    margin-top: 20px;
    margin-right: 20px;
    background-color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 45%;
    min-width: 400px;
    height: auto;
    padding: 20px;
    box-shadow: 0 0 13px -3px rgb(0 0 0 / 10%);
    border: 1px solid rgba(182,182,182,.1);
}

.mincardtitle{
    color:#444444;
    margin: 0px;
    align-self: flex-end;
    font-size: 14px;
}

.rowforminputs{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0px;
}

.errorMsg{
    color: red;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-right: 15px;
}

.Buttons{
    margin-top: 10px;
    align-self: flex-end;
    flex-direction: row;
    margin-right: 20px;
    justify-content: center;
}

#saveButton{
    background-color: #09B76B;
    border-width: 0px;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin: 5px;
    padding: 0px;
}

#saveButton:hover{
    background-color: #079356;
}

#formeditButton{
    background-color: #1094F7;
    border-width: 0px;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin: 5px;
    padding: 0px;
}

#formeditButton:hover{
    background-color: #077FD9;
}

#backButton{
    background-color: transparent;
    border-width: 1px;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    color: #1094F7;
    border-color: #1094F7;
    border-style: solid;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    align-self: flex-end;
    margin: 0px;
    padding: 0px;
}

#backButton:hover{
    background-color: #1094F7;
    color: white;
}
