/* Fenetre principale du menu activité */
.activitiescontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 500px;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Titre principale du menu activité */
.maintitle{
    align-self: flex-start;
    color:black;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    width: auto;
    margin: 0px;
}

/* composant fenetre blanche et ses caractéristiques */
.cardcomponent {
    background-color: white;
    width: auto;
    margin-top: 15px;
    box-shadow: 0 0 13px -3px rgb(0 0 0 / 10%);
    border: 1px solid rgba(182,182,182,.1);
    padding: 20px;
    align-self: flex-start;
    min-width: 360px;
}

.cardtitlecontainer{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cardtitle{
    margin: 0px;
    color:black;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.subcardcomponent{
    margin-top: 15px;
}

.rowsubcardcomponent{
    display: flex;
    align-items: center;
    margin-top: 15px;
    flex-direction: row;
    padding: 0px;
}

/* Sous menu informations sur l'employé choisi */
.subcardemployeecomponent{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    border-style: solid;
    border-color: #D5DADF;
    border-width: 1px;
}

.employeeDatalabel{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    min-width: 40px;
}

.employeeData{
    height: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #1D0E01;
    background-color: #e3f2fd;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding-left: 8px;
}

/* boutons et cases de recherche d'employés */
.searchinput{
    width:200px;
    padding: 0px;
    height: 35px;
    color: #1565c0;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #1565c0;
}

#searchimg{
    height: 35px;
    width: auto;
    margin: 0px;
    margin-left: 4px;
}

#clearimg{
    height: 35px;
    width: auto;
    margin: 0px;
    margin-left: 4px;
}

.selectinput{
    color: #1565c0;
    justify-content: center;
    width: auto;
    padding: 0px;
    padding-left: 8px;
    height: 35px;
    font-size: 13px;
    border: 1px solid #1565c0;
    border-radius: 17px;
    outline: none;
    margin-left: 4px;
    background-color: transparent;
}

/* Le tableau des employés */
.table{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    width: 100%;
    border-spacing: 0px;
}

.headcell{
    text-align: left;
    border: 2px solid #f4f6f8;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 5px;
    min-width: 40px;
    width:150px;
}

.tablerowcell{
    border: 2px solid #f4f6f8;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 5px;
    text-align: left;
    height: 30px;
    min-width: 40px;
}

.selectedtablerow{
    background-color: #FFE707;
}

/* fin du tableau */ 

.periodlabel{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    margin-right: 4px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #1565c0;
    border: none;
    border-bottom: 1px solid #1565c0;
    width: 60px;
}

.dateinput{
    width:120px;
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
    color: #1565c0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    border: 1px solid #1565c0;
    border-radius: 17px;
}
