.forminputs{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formTitle{
    color:#4D4D6F;
    margin: 5px;
    font-size: 14px;
}

.requiredinput{
    color: red;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    margin-left: 5px;
}

.errorformInput{
    color: red;
    padding: 2px;
    padding-left: 6px;
    border-width: 1px;
    border-style: solid;
    height: 40px;
    border-color: red;
    border-radius: 3px;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.formInput{
    height: 40px;
    padding: 2px;
    padding-left: 6px;
    color:#007092;
    background-color: #F7F7F7;
    border-width: 1px;
    border-style: solid;
    border-color:#D5DADF;
    border-radius: 3px;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.selectorforminput{
    color: #4D4D6F;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    height: 46px;
    border-color: #D5DADF;
    background-color: #F7F7F7;
    border-radius: 3px;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.checkBoxContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.checkboxInput{
    border-width: 1px;
    border-style: solid;
    height: 50px;
    width: auto;
    margin: 0px;
    margin-left: 25px;
}
